

 /* Config สี */
 :root {
    --primary: #af4c4c;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    min-width: 600px;
}

.user-table th,
.user-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.user-table th {
    background-color: var(--primary);
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.user-table tr {
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

.user-table tr:hover {
    background-color: #f1f1f1;
}

.user-table td {
    color: #333;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: var(--primary);
    color: white;
    border-top: 1px solid #ddd;
    margin-top: 40px;
}
